
@{
    ViewBag.Title = "Clients";
}

<div class="container" ng-controller="ClientController">
    <div ng-include="'/Scripts/Pages/Views/client.html'" ng-controller="ClientController as clients"></div>
    <div ng-include="'/Scripts/Pages/Views/client-toner.html'" ng-controller="ClientTonerController as client"></div>
</div>

@section scripts{
    <script src="~/Scripts/Pages/Services/client.js"></script>
    <script src="~/Scripts/Pages/Controllers/client.js"></script>
    <script src="~/Scripts/Pages/Controllers/client-toner.js"></script>
}

