<!--CLIENT CARD BEGIN HERE-->
<div class="card mb-2">
    <h5 class="card-header">Client</h5>
    <div class="card-body">
        <h5 class="card-title">{{client.Name}}</h5>
        <p class="card-text"><span><i class="fa fa-phone"></i> {{client.Mobile}}</span> <span class="mx-4"><a ng-href="mailto:{{client.Email}}"><i class="fa fa-envelope"></i> {{client.Email}}</a></span></p>
        <p class="card-text">{{client.Address}}</p>
    </div>
</div>
<!--CLIENT CARD END HERE-->
<!--TONERS SEARCH BOX BEGIN HERE-->

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Toners</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="submit">Search</button>
        <button class="btn btn-primary my-2 my-sm-0 mx-1" type="submit" data-toggle="modal" data-target="#newTonerModal">
            <i class="fa fa-plus"></i>
        </button>
    </form>
</nav>

<!--TONERS SEARCH BOX END HERE-->
<!--TONERS TABLE BEGIN HERE-->

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tr ng-repeat="toner in all">
            <th scope="row">{{$index + 1}}</th>
            <td>{{toner.Name}}</td>
        </tr>
    </table>
</div>

<!--TONERS TABLE END HERE-->